<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="regression" verbose="5">
<!-- <suite name="Tests" verbose="5" parallel="classes" thread-count="1"> -->
  <test name="Test1">
    <classes>
      <class name="com.planitautomation.contact.test.Contact">
       <!-- <methods>
        <include name="validate_Contact_Error_Messages" />
      </methods> -->
     </class> 
       <class name="com.planitautomation.cart.test.Cart"/> 
    </classes>
  </test>  
</suite>